* {
	border: none;
	margin: 0;
	padding: 0;
}

body {
	font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
	line-height: 1.65;
	-webkit-font-smoothing: antialiased;
	background: #fff;
	color: #34495e;
}

h1 {
	color: #2C3E50;
}

h3 {
	color: #22313F;
}

a {
	color: inherit;
}

.gradient-wrap {
	box-shadow: 0 1px 2px rgba(5, 30, 50, .6);
	background-size: 400% 400%;
	animation: gradient 10s infinite cubic-bezier(.9, .03, .69, .22) both;
}

.gradient-wrap img {
	box-shadow: 0 10px 20px rgba(5, 30, 50, .1);
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}